.footer {
  background-color: var(--color-primary);
  padding: 5px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-wrapper {
    display: flex;
    gap: 0px;
    color: white;
    font-weight: 600;
    align-items: center;
  }

  .logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  .social-wrapper {
    display: flex;

    .icon-wrapper {
      padding: 10px;
      border-radius: 40px;

      .icon {
        cursor: pointer;
        color: white;
        width: 30px;
        height: 30px;
        object-fit: contain;
      }

      .icon:hover {
        color: gray;
      }
    }
  }
}

.copyright {
  background-color: #234e69;
  padding: 15px 0px;

  p {
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 0;
  }
}
