html,
body,
#root {
  height: 100%;
}

:root {
  --color-primary: #3a6d8c;
  --color-primary-hover: #308ac2;
  --color-secondary: #234e69;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.link {
  text-decoration: none;
}
